---
const testimonials = [
  {
    name: 'Rebecca Hayes',
    description: 'Designer',
    image: '/assets/testimonial-1.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
  {
    name: 'Rosa Spencer',
    description: 'Team Leader',
    image: '/assets/testimonial-2.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
  {
    name: 'Christina Upton',
    description: 'Manager',
    image: '/assets/testimonial-3.webp',
    message:
      '“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Tried and Tested
      </h2>
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 w-full">
        <div class="flex flex-col items-center">
          <span class="text-6xl font-bold text-primary-600 dark:text-primary-400">20</span>
          <span class="mt-2 text-xl font-medium text-primary-950 dark:text-primary-200">Years</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-6xl font-bold text-primary-600 dark:text-primary-400">21</span>
          <span class="mt-2 text-xl font-medium text-primary-950 dark:text-primary-200">Homes</span>
        </div>
        <div class="flex flex-col items-center">
          <span class="text-6xl font-bold text-primary-600 dark:text-primary-400">5</span>
          <span class="mt-2 text-xl font-medium text-primary-950 dark:text-primary-200">Towns</span>
        </div>
      </div>
    </div>
  </div>
</section>
